<div class="col-12 col-md-10 col-lg-12" >
    <div class="card animated fadeIn fast" >
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
            <div class="card-body">
                  <h5 class="card-title">{{heroe.nombre}}</h5>
                  <p class="card-text"> {{heroe.bio}}</p>
                  <p class="card-text"> <small class="text-muted"> {{heroe.aparicion}} </small></p>
                  <!-- <a href="#" class="btn btn-primary"> click me </a> -->
                  <button (click)= "verHeroe()"
                          type="button" class="btn btn-outline-primary w-100" name="button">
                    ver mas ...
                  </button>
            </div>
    </div>
</div>
