
<h1> Heroes <small> Marvel y Dc </small></h1>
<hr>

<div class="container">

    <div class="row row-cols-1 row-cols-md-3 g-4" >

        <div class="col-12 col-md-6 col-lg-3">
              <div class="card" *ngFor="let heroe of heroes">
                <img src="assets/img/aquaman.png" class="card-img-top" alt="">
                    <div class="card-body">
                          <h5 class="card-title">Title</h5>
                          <p class="card-text"> asdadasd</p>
                          <!-- <a href="#" class="btn btn-primary"> click me </a> -->
                    </div>
                    <div class="card-footer">
                          <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                    <button type="button" class="btn btn-outline-primary btn-block" name="button">
                      ver mas ...
                    </button>
              </div>
        </div>



        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <img src="assets/img/aquaman.png" alt="">
            <div class="card-body">
              <h5 class="card-title">Titlel</h5>
              <p class="card-text"> asdadasd</p>
              <a href="#" class="btn btn-primary"> click me </a>
            </div>
            <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>



        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <img src="assets/img/aquaman.png" alt="">
            <div class="card-body">
              <h5 class="card-title">Titlel</h5>
              <p class="card-text"> asdadasd</p>
              <a href="#" class="btn btn-primary"> click me </a>
            </div>
            <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>


        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <img src="assets/img/aquaman.png" alt="">
            <div class="card-body">
              <h5 class="card-title">Titlel</h5>
              <p class="card-text"> asdadasd</p>
              <a href="#" class="btn btn-primary"> click me </a>
            </div>
            <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>


        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <img src="assets/img/aquaman.png" alt="">
            <div class="card-body">
              <h5 class="card-title">Titlel</h5>
              <p class="card-text"> asdadasd</p>
              <a href="#" class="btn btn-primary"> click me </a>
            </div>
            <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>

    </div>
</div>
